<!DOCTYPE html>
<html lang="en">
<%= render partial: "app_partials/head"%>

<body>

<%= render partial: "app_partials/app_header"%>

<div class="container">
  <div class="new_form">
    <div class="row">
      <div class="col-sm-4">
        <h3>Create a new list</h3>
        <p><%= form_with url: user_lists_path(@user), method: :post, data: { turbo: false } do |f| %>
          <%= f.text_field :title, placeholder: "ex: Groceries" %>
          <%= f.submit "create", class: "btn btn-success" %>
        <% end %></p>
      </div>
  
      <div class="col-sm-4">
        <%= render partial: "app_partials/home_button"%>
      </div>
  
    </div>
  </div>
</div>

</body>
</html>
