<h1> QwikList </h1>
<section id="home_button">
  <p><%= button_to "home", root_path, method: :get %>
</section>

<p><h3><%= @list.title %></h3>

<p><% @items.each do |item| %>
  <div id="<%= "item-#{item.id}" %>">
    <li><%= item.description %></li>
    <%= button_to "remove", list_item_path(item), method: :delete %>
  </div>
<% end %>


<p><%= form_with url: list_list_items_path(@list), method: :post, data: {turbo: false} do |f| %>
  <%= f.text_field :description, placeholder: "milk" %>
  <%= f.submit "add item" %>
<% end %>

<section id="red_button">
  <p><%= button_to "delete list", list_path(@list), method: :delete %>
</section>