<!DOCTYPE html>
<html lang="en">
<%= render partial: "app_partials/head"%>

<body>

<%= render partial: "app_partials/app_header"%>

<div class="container">
  <div class="list_items">
    <div class="row">
      <div class="col-sm-4">
        <h3><u><%= @list.title %></u></h3>
        <% @items.each do |item| %>
            <div id="<%= "item-#{item.id}" %>">
              <ul><h4><%= item.description %></h4>
              <%= button_to "remove", list_list_item_path(@list, item), method: :delete, class: "btn btn-danger btn-xs" %></ul>
            </div>
          <% end %>
        <p><%= form_with url: list_list_items_path(@list), method: :post, data: {turbo: false} do |f| %>
            <%= f.text_field :description, placeholder: "milk" %>
            <%= f.submit "add item", class: "btn btn-success" %>
          <% end %></p>
      </div>
      <div class="col-sm-4">
        <%= render partial: "app_partials/home_button"%>
      </div>
      <div class="col-sm-4">
        <section id="red_button">
          <%= button_to "delete list", list_path(@list), method: :delete, class: "btn btn-danger" %>
        </section>
    </div>
  </div>
</div>

</body>
</html>
