<h1> QwikList </h1>
<p><%= @list.title %>

<p><% @items.each do |item| %>
    <li><%= item.description %></li>
  <% end %>


<p><%= form_with url: list_list_items_path(@list), method: :post, data: {turbo: false} do |f| %>
  <%= f.text_field :description, placeholder: "milk" %>
  <%= f.submit "add item" %>
<% end %>
