<!DOCTYPE html>
<html lang="en">
<%= render partial: "app_partials/head"%>

<body>

<%= render partial: "app_partials/app_header"%>

<div class="container">
  <div class="dashboard">
    <div class="row">
      <div class="col-sm-4">
        <h3>Your lists</h3>
        <p>These are the lists you've made so far...</p>
        <% if @lists.empty? == true %>
          <p><h5> *** Oops, looks like you don't have any lists made *** </h5></p>
        <% else %>
          <% @lists.each do |list| %>
            <p><%= button_to "#{list.title}", list_path(list), method: :get, class: "btn btn-primary" %></p>
          <% end %>
        <% end %> 
      </div>

      <div class="col-sm-4">
        <h3>Make a new list</h3>
        <p>Click here to make a new list...</p>
        <p><%= button_to "New list", user_lists_path(@user), method: :get, class: "btn btn-success" %></p>
      </div>

      <div class="col-sm-4">
        <h3>Wanna stay up to date?</h3>
        <p>Sign up for notifications...</p>
        <p><%= button_to "Sign me up", root_path, method: :get, class: "btn btn-info" %></p>
      </div>
  
    </div>
  </div>
</div>

</body>
</html>
